@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap')

:root{
    --cor-de-fundo: #8B0000;
    --vermelho: #FF0000;
    --branco: #FFFFFF;
    --botao-ativo: #FF0000;
    --botao-inativo: rgba(58, 55, 94, 0.2);
    --texto-fundo: rgba(58, 55, 94, 0.3);

}

body {
    background-color: var(--cor-de-fundo);
    
}